[user]
	name = Jean-Philippe CARUANA
	email = jp@target2sell.com
	signingkey = 6AEA0762
[color]
	ui = auto
	interactive = auto
[core]
	editor = vim
	whitespace = -trailing-space
[diff]
	mnemonicprefix = true
	wordRegex = .
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[push]
	default = simple
[alias]
	last = cat-file commit HEAD
	cm = commit -am\"[refactor] dead code\"
	dc = commit -am\"[refactor] dead code\"
	duplication = commit -am\"[refactor] dead code: duplication\"
	format = commit -am\"[refactor] format\"
	uppercase = commit -am\"[refactor] rename: constants are upper case in java norm\"
	drilldown = commit -am\"[refactor] format: methods drill down\"
	rename = commit -am\"[refactor] rename\"
	st = status --short
	co = checkout
	br = branch -a --verbose
	rb = rebase
	rbi = rebase --interactive
	topo-log = log --oneline --graph --all --decorate
	topo-log-branch = log --oneline --graph --decorate
  mega-log = log --graph --all --pretty=format:'%C(yellow)%h -%C(auto)%d %C(bold cyan)%s %C(bold white)(%cr)%Creset %C(dim white)<%an>'  
	k = !gitk
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	count = shortlog -s -n
  rbd = rebase develop --preserve-merges
  rbm = rebase master --preserve-merges
[mergetool]
	keepBackup = false
	keepTemporaries = false
[mergetool "p4merge"]
	cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
[merge]
	tool = p4merge
[rerere]
	enabled = true
